<ng-container [formGroup]="searchParams">

  <h2>Date range</h2>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" formControlName="from">
      <input matEndDate placeholder="End date" formControlName="to">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <!--  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
  </mat-form-field>

  <h2>Search by</h2>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Search by</mat-label>
    <mat-select multiple formControlName="searchBy">
      <mat-option *ngFor="let field of searchFields" [value]="field.value">
        {{field.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h2>Sort by</h2>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Search by</mat-label>
    <mat-select formControlName="sort" [value]="sortFields[0].value">
      <mat-option *ngFor="let field of sortFields" [value]="field.value">
        {{field.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button mat-button color="warn" (click)="this.searchParams.reset();">Reset search</button>
</ng-container>
