<mat-drawer-container style="height: 80%" [hasBackdrop]="false">
  <mat-drawer [autoFocus]="false" #drawer [mode]="'over'">
    <mat-icon class="close-sidenav" (click)="drawer.close()">close</mat-icon>
    <app-advanced-search [searchParams]="searchParams"></app-advanced-search>
  </mat-drawer>
  <mat-drawer-content>

    <div class="content" role="main" [formGroup]="searchParams">

      <div class="card search-card">
        <mat-form-field>
          <input
            #search
            type="text"
            autocomplete="off"
            placeholder="Search the U.S. Code"
            matInput
            (focusin)="drawer.open()"
            formControlName="q"
            (keyup.enter)="getData();"
          />

          <!--[matAutocomplete]="auto"-->
          <!--
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.cite">
              {{ option.cite }}
            </mat-option>
          </mat-autocomplete>
          -->
        </mat-form-field>
      </div>

      <div class="result-list" *ngIf="data">
        <ng-container *ngFor="let d of data.hits; let i = index">
          <div class="result-item" *ngIf="d._source.heading || d._source.text">
            <a [state]="d"
               [routerLink]="'/page/' + d._source.id">{{d._source.number || ''}}{{d._source.heading || 'No Name'}}</a>
            <div [innerHTML]="d.highlight?.hasOwnProperty('text') ? d.highlight.text.join('...') : ''"></div>
          </div>
        </ng-container>

        <mat-paginator class="paginator"  [pageSize]="10" [length]="data.total.value"
                       (page)="pageChanged($event)"></mat-paginator>
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>


